* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-stretch: narrower;
    background: #9bd8bf; 
    background: -webkit-linear-gradient(to top, #d2d7da, #1c1d1d); 
    background: linear-gradient(to top, #d2d7da, #1c1d1d); 

}

.nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem;
    text-shadow: 0.3rem;

}


.nav-item{
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

.nav-item a{
    color: white;
}

.separador{
    color: white;
    border-style:solid;
    
}

.container{
    align-items: center;
    margin: 0.4rem;
    padding-bottom: 0.4rem;    
}

table{
    border-radius: 3rem;
    border: solid;
}

.titulo{
    text-align: center;
    text-transform: capitalize;
}

.footer{
    text-align: center;
    padding: 0.5rem;
}

.footer a{
    color: #1c1d1d;
    font-variant: small-caps;
    text-decoration: none;
}