* {
    margin: 0px;
    padding: 0;
}

.boton {
    color: rgb(240, 36, 151);
    width: 200px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(91, 10, 161);
    border-radius: 5px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.boton:hover {
    color: white;
    background-color: green;

}

.boton::before {
    content: "Pasa por encima";
}

/* Te agrega al texto ya puesto
.boton:hover::after {
    content: " ¡Hecho !";
} */

/* Te reemplaza */
.boton:hover::before {
    content: " ¡Hecho !";
}